<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Video
        </ion-title>
    </ion-toolbar>
</ion-header>

<mbsc-card [options]="settings">
    <video autoplay muted controls>
      <source  src="http://img.mobiscroll.com/demos/trailer_iphone.m4v" type="video/x-m4v">
  </video>
    <mbsc-card-header>
        <mbsc-card-title>Big Buck Bunny</mbsc-card-title>
    </mbsc-card-header>
    <mbsc-card-content>
        Open movie made with open source software. Check out it's trailer!
    </mbsc-card-content>
</mbsc-card>

<mbsc-card [options]="settings">
    <video autoplay muted controls>
      <source  src="http://img.mobiscroll.com/demos/trailer_iphone.m4v" type="video/x-m4v">
  </video>
    <mbsc-card-footer>
        <mbsc-button flat>Play</mbsc-button>
        <mbsc-button flat>Reset</mbsc-button>
    </mbsc-card-footer>
</mbsc-card>